
.contactUsBtn{
    position: relative;
    height: 8vh;
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    border-radius: 100px;
    margin: 23px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    font-size: large;
    cursor: pointer;
    text-decoration: none;
}